<!DOCTYPE HTML>

<html>

<meta name="color-scheme" content="light only">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link rel="stylesheet" type="text/css" href="views/todo/todo.css"></link>

<head>
<!-- Load static scripts -->
<script src="./scripts/jquery-3.7.1.slim.js"></script>
<script src="./scripts/todo.js"></script>
<!-- Load block length -->
<script>var block_length = parseInt("<%= block_length %>");</script>
<!-- Load notes -->
<script>
// Function to save notes to server
function saveNotes() {
    // Select all elements with class 'note'
    var noteElements = document.querySelectorAll('.note');

    // Create an array to store note data
    var notesData = [];

	if (noteElements) {
		// Iterate through each note element
		noteElements.forEach(function(noteElement) {
			// Get the HTML content of the note
			var noteHTML = noteElement.outerHTML;

			// Get the text content of the note
			var noteText = noteElement.querySelector('.note-text').value;

			// Add note data to the array
			notesData.push({
				html: noteHTML,
				text: noteText
			});
		});

	console.log("/////////////////////////////////////////////////////////")
	console.log(JSON.stringify(notesData))
	console.log("/////////////////////////////////////////////////////////")

    // Send data to server
    fetch('/saveNotes', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(notesData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        console.log('Notes saved successfully');
    })
    .catch(error => {
        console.error('Error saving notes:', error);
    });
}
}
</script>
</head>

<body>
<span id="blank-space" class="blank-space" onclick="spawnTextBox(event)"></span>
<span id="main" class="main">
<div class="todo_list">
	<form class='header_redirect' action="/habits/" method="GET">
		<button class="header">
			<h2> todo </h2>
		</button>
	</form>	
	<div class='verticalSpace'></div>
	<div class='plan_a_day'>
	<form action="/add/todo" method="POST">
	<div>
		<input type="text" class='todoInput' name="text" placeholder="Add a todo..." required>
		<input type="hidden" id="todo_datetime" name="starttime" value="0"> <!-- value = minutes_from_now -->  
		<input type="hidden" id="todo_length" name="length" value="<%= block_length %>"> 
		<button type="submit" class="addButton">Add</button>
	</div>
	<div class='input_info options'> 
		<span> start time: <%= strftime(' %-I:%M %P', new Date(nearest_free_time)) %> </span>
		<span id='options' class='options_button' onmouseenter="hoverHold(document.getElementById('options'), function() { document.getElementById('options').click() }, 199);" onclick="toggleClass('options')"> options </span>
	</div>
	<div class='options hidden'>
		<div onclick="toggleClass('options')"> 
                <button type='button' class='headerButton'> Plan your day: </button>
		<hr>
		<div class='verticalSpace'></div>
		</div>		
		<div>	
		<span class='floatingLeft' text-align='left'> sᴛᴀʀᴛ ᴛɪᴍᴇ: </span>
			<span class='floatingRight'> 
			<span position='absolute'></span>
					<span> ʙʟᴏᴄᴋ ʟᴇɴɢᴛʜ: <br> 
					<span> − <span class="invisibleButton left" onclick="incrementBlockLength(-15)"></span> </span>
					<span id="blockLength"> <%= block_length + ' min' %> </span>
					<span> + <span class="invisibleButton right" onclick="incrementBlockLength(15)"></span> </span> 
			</span>
			<span position='absolute'></span> 
		</span>
		<%
       		const time_block_ms = 1000 * 60 * block_length;
        	var time_slots = {};
        	const now = new Date(Date.now());
        	var time_slots = [];
        	var hr = 0;
        	var min = 0;
        	var i = 1;
        	while (i < 55) {
               		var later_time_ms = Date.now() + i*time_block_ms;
       		        var later_time_ms = Math.round(later_time_ms/time_block_ms) * time_block_ms;
        	      	var later_time = new Date(later_time_ms);
         	      	time_slots.push(later_time);
          	     	min = later_time.getMinutes();
          	     	hr = later_time.getHours();
               		i++;
       		}
		%>
		<div class='timeButtonDiv'>
			<span>
                <button type='button' onclick='toggle(this)' class='time toggled' time_block="<%= 0*block_length %>" script='if todayToggled() {}'>Now</button>
				<% for (var i=0; i<time_slots.length; i++) {  %>
					<button type='button' onclick='toggle(this)' class='time slide_item' time_block="<%= i %>"> 
						<% var button_text %> 
						<% button_text = strftime('%-I:%M %P', time_slots[i]); %>
						<%= button_text %>
					</button>
				<% } %>
			</span>
		</div>
		</div>

		<div class='verticalSpace'></div>
	</div>
	</div>
	</form>	
    <!-- Generate List of Todos -->
	<div class='listDiv'>
		<ol>
		<% for(var i=0; i<Object.keys(todo_array).length; i++) { %>
			<li>
			<span class="<%= 'todoText '  + todo_array[i].id %>"> </span> <%= todo_array[i].todo %>
               		<span ms_since_epoch="<%= todo_array[i].datetime %>" todo_length="<%= todo_array[i].length %>"class="<%='todoTimer '  + todo_array[i].id %>"> </span>
			<form action="/remove/todo/<%= i+1 %>" method="POST">
				<button id="close_button<%= i %>" class="close" 
				onmouseenter="$(this).removeClass('finish');"
				onmouseleave="$(this).removeClass('finish');"
				onmousedown="buttonHold(document.querySelector('#close_button<%= i %>'), function() { $('#close_button<%= i %>').addClass('finish') }, 800);"> 
				</button>
			</form>
			<div class="<%= 'todo' + todo_array[i].id + ' todoInfo' %>">
				<hr>
				<% var start_ms = parseInt(todo_array[i].datetime); %>
				<% var start_datetime = strftime('%B %d, %I:%M %p', new Date(start_ms)) %>
				<span class='todoStartTime'> start time: <%= start_datetime %> </span>			</div>
			</li>
		<% } %>
		<div class='allDone'>
		<% if (todo_array.length == 0) { %>
			<span onmouseover="changeText(this)" onmouseout="changeTextBack(this)">all done?</span>
			<span class='takeBreak'>
				<div class='breakSelector' onmouseout="clearClasses()">
					<div class='breakLength'>
						ᴛᴀᴋᴇ ᴀ ʙʀᴇᴀᴋ <br>
						<span id="breakLength"></span>
					</div>
					<span class="invisibleButton top" onmouseover="topSelector()" onclick="window.location.href = 'break/' + breakLength.toString()"></span> 
					<span class="invisibleButton left" onmouseover="leftSelector()" onclick="incrementBreakLength(-5)"></span> 
					<span class="invisibleButton right" onmouseover="rightSelector()" onclick="incrementBreakLength(5)"></span>
				</div>
				<button class="breakButton"></button>
			</span>
		<% } else { %>
			<span> end </span>
		<% } %>
		</div>
		</ol>   
	</div>
</div>

</span> <!-- end of main -->
<% 	console.log("/////////////////////////////////////////////////////////") %>
<% console.log(notesData) %>
<% if (!(Object.keys(notesData).length === 0)) { %>
<%  notesData.forEach(function(note) { %>
		<div class="note" style="<%- note.style %>">
			<textarea maxlength="115" class="note-text"><%- note.text %></textarea>
			<button class="move-note"></button>
		</div>
<%  }); %>
<% } %>

<div id="menu" class="menu">
    <span>
    <button id="closeMenu" class="menuButton">Close</button>
    options
    </span>
</div>
<button id="openMenu" class="menuButton">Controls</button>

 <!-- Load EJS dependent scripts -->
 <script>
	function todayToggled() { 
		if ($('#today').classList.contains("toggled")) { return true; } return false; 
	}
		// Instantiate breakLength from ejs
		var breakLength = parseInt("<%= break_length %>");
		// Get the span element by its ID
		var spanElement = document.getElementById("breakLength");
		
		// Change the text inside the span
		spanElement.innerHTML = '− ' + breakLength + ' mins +' ;
		
		function incrementBlockLength(inc) {
					if (block_length + inc < -inc && inc < 0) {
							if (block_length <= 5) { block_length = 'no time'; }                 
							if (block_length == 10) { block_length = 5; }                 
							if (block_length == Math.abs(inc)) { block_length = 10; }
					} else {
							if (typeof(block_length) == 'number') {
								block_length += inc;
								block_length = Math.floor(block_length/inc) * inc;
							}
					}
			if (typeof(block_length) == 'number'){
				$('#blockLength').text(block_length + ' mins');
			} else {
				$('#blockLength').text(block_length);
				block_length = 3; //set block length to 3 minutes if it's not a number
			}
			$('#todo_length').attr("value", block_length);
			postToBlockLength(block_length);
			redrawTimeButtons();
			refreshTimeButtons();
		}
	</script>

 <!-- Initialization script -->
 	<script>
		function clickAndDragNote(note) {
    let offsetX, offsetY;
    let isDragging = false;
    const moveButton = note.querySelector('.move-note');

    // Store the initial position of the mouse relative to the note
    moveButton.addEventListener("mousedown", function(event) {
        saveNotes();
	isDragging = true;
        offsetX = event.clientX - parseInt(note.style.left);
        offsetY = event.clientY - parseInt(note.style.top);
    });

    // Update the note position when dragging
    document.addEventListener("mousemove", function(event) {
        if (isDragging) {
            note.style.left = (event.clientX - offsetX) + "px";
            note.style.top = (event.clientY - offsetY) + "px";
        }
    });

    // Stop dragging when mouse button is released
    document.addEventListener("mouseup", function() {
         saveNotes();
	 isDragging = false;
    });
}

function closeNoteAfterDelay(note) {
    const holdTime = 500; // 0.5 second
    let holdTimer;
    let mouseMoved = false;

    // Store initial mouse position
    let initialX, initialY;
    document.addEventListener("mousedown", function(event) {
        initialX = event.clientX;
        initialY = event.clientY;
    });

    const moveButton = note.querySelector('.move-note');

    moveButton.addEventListener("mousedown", function(event) {
        holdTimer = setTimeout(function() {
            if (!mouseMoved) {
                moveButton.classList.add('delete-note');
            }
        }, holdTime);

        // Check for mouse movement
        document.addEventListener("mousemove", function(event) {
            if (event.clientX !== initialX || event.clientY !== initialY) {
                mouseMoved = true;
                moveButton.classList.remove('delete-note');
            }
        });
    });

    moveButton.addEventListener("mouseup", function() {
        clearTimeout(holdTimer);
        if (moveButton.classList.contains('delete-note')) {
            note.parentNode.removeChild(note);
        }
        mouseMoved = false; // Reset mouse movement flag
    });
}

		function spawnTextBox(event) {
			// Create a new text box element
			const note = document.createElement("span");
			const textBox = document.createElement("textarea");
			const clickAndDragButton = document.createElement("button");

			textBox.setAttribute("maxlength", "115"); // Set maximum character limit
			textBox.addEventListener("keydown", function(e) {
				if (e.keyCode === 13) { // If Enter key is pressed
					e.preventDefault();
					textBox.blur(); // Remove focus from the text box
				}
			});
			textBox.addEventListener("blur", function() {
				textBox.removeAttribute("contenteditable"); // Make the text box non-editable
			});

			// Set the position of the note
			note.style.position = "absolute";
			note.style.left = (event.clientX + window.pageXOffset) + "px";
			note.style.top = (event.clientY + window.pageYOffset) + "px";
			note.classList.add('note');
			note.onclick = saveNotes();
			textBox.classList.add('note-text');
			clickAndDragButton.classList.add('move-note');

			// Append the button to the note before attaching event listeners
			note.appendChild(textBox);
			note.appendChild(clickAndDragButton);

			// Append the note to the container
			document.getElementById("blank-space").parentElement.appendChild(note);

			// Focus on the text box for user input
			textBox.focus();
			saveNotes();
			clickAndDragNote(note);
			closeNoteAfterDelay(note);
		}

		document.addEventListener("DOMContentLoaded", function(event) { 
			var scrollpos = localStorage.getItem('scrollpos');
			if (scrollpos) window.scrollTo(0, scrollpos);
		});
	
		window.onbeforeunload = function(e) {
			saveNotes();
			localStorage.setItem('scrollpos', window.scrollY);
		};
	
		const slider = document.querySelector('.slide_item');
		let isDown = false;
		let startX;
		let scrollLeft;
	
		slider.addEventListener('mousedown', (e) => {
		  isDown = true;
		  slider.classList.add('active');
		  startX = e.pageX - slider.offsetLeft;
		  scrollLeft = slider.scrollLeft;
		});
		slider.addEventListener('mouseleave', () => {
		  isDown = false;
		  slider.classList.remove('active');
		});
		slider.addEventListener('mouseup', () => {
		  isDown = false;
		  slider.classList.remove('active');
		});
		slider.addEventListener('mousemove', (e) => {
		  if(!isDown) return;
		  e.preventDefault();
		  const x = e.pageX - slider.offsetLeft;
		  const walk = (x - startX) * 3; //scroll-fast
		  slider.scrollLeft = scrollLeft - walk;
		  console.log(walk);
		});
	
		const openMenuButton = document.getElementById('openMenu');
		const closeMenuButton = document.getElementById('closeMenu');
		const menu = document.getElementById('menu');
	
		openMenuButton.addEventListener('click', function() {
		menu.style.left = '0';
		});
	
		closeMenuButton.addEventListener('click', function() {
		menu.style.left = '-250px';
		});
	
		menu.style.left = '-250px';
		
		redrawTimeButtons();
		updateTodos();
		var noteElements = document.querySelectorAll('.note');
		// Iterate through each note element and initialize it
		Array.from(noteElements).forEach(function(note) {
			clickAndDragNote(note);
			closeNoteAfterDelay(note);
		});
	</script>
</body>
</html>
